<h1>Subcategories</h1>
<p>Add new Subcategory</p>
{{> sidebar}}

<form action="/subcategories" id="add-category" class="form crud-forms" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>

    <select id="select-cat-id" name="catId">
        {{#each categories}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
    <br>

    <label for="name">Input name</label>
    <input type="text" id="name" name="name" value=""/>
    <br>

    <label for="description">Input description</label>
    <input type="text" id="description" name="description" value=""/>
    <br>    
</form>

<button onclick="addNewCategory()">Submit</button>
<br>

<a href="/subcategories">List all sub-categories</a>

<script src="/public/javascripts/subcategories.js"></script>