<h1>Subcategories</h1>
<p>Delete a Subcategory</p>
{{> sidebar}}

<p>Do you really want to delete <b>{{subcategory.name}}</b> sub-category?</p>

<form action="/subcategories/{{subcategory.id}}" id="delete-category" class="form crud-forms" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    <input type="hidden" name="_method" value="DELETE"/>
    <button type="submit">Yes, delete it</button>
</form>