<h1>Subcategories</h1>
<p>Edit a Subcategory</p>
{{> sidebar}}

<form action="/subcategories/{{subcategory.id}}" id="edit-category" class="form crud-forms" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    <input type="hidden" name="_method" value="PUT"/>
    
    <label for="name">Input name</label>
    <input type="text" id="name" name="name" value="{{subcategory.name}}"/>
    <br>

    <label for="description">Input description</label>
    <input type="text" id="description" name="description" value="{{subcategory.description}}"/>
    <br>

    <button type="submit">Edit</button>
</form>