<h1>Categories</h1>
<p>Add new category</p>
{{> sidebar}}

<form action="/categories" id="add-category" class="form crud-forms" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>

    <label for="name">Input name</label>
    <input type="text" id="name" name="name" value=""/>
    <br>

    <label for="description">Input description</label>
    <input type="text" id="description" name="description" value=""/>
    <br>    
</form>

<button onclick="addNewCategory()">Submit</button>
<br>

<a href="/categories">List all categories</a>

<script src="/public/javascripts/categories.js"></script>