<h1>Categories</h1>
<p>Delete a category</p>
{{> sidebar}}

<p>Do you really want to delete <b>{{category.name}}</b> category?</p>

<form action="/categories/{{category.id}}" id="delete-category" class="form crud-forms" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    <input type="hidden" name="_method" value="DELETE"/>
    <button type="submit">Yes, delete it</button>
</form>